# npm install ** でインストールされるモノたちは管理しない
/node_modules/
# 試験的に使うオレオレ証明書も管理しない
# 本物の証明書も別途管理
/private.key
/server.pem
# 授業変更データ及び時間割とそれから生成するデータたちは管理しない
/*.xlsx
/public/js/jhkSimpleData.json.js
/public/js/jhkjikanwari.json.js
/public/js/jhkteacher.json.js
/public/js/jyugyous.json.js
