/*
 * jhk.dialogInfo.css
 * いない人入力モジュール
 */

 .jhk-dialogInfo, .jhk-dialogInfo-main, .jhk-dialogInfo-main-title,
 .jhk-dialogInfo-main-button-touroku, .jhk-dialogInfo-main-button-delete,
 .jhk-dialogInfo-main-button-cancel,
 #jhk-dialogInfo-main-selectKyouka, #jhk-dialogInfo-main-selectTeacher,
 #jhk-dialogInfo-main-selectInai,
 .jhk-dialogInfo-main-text1, .jhk-dialogInfo-main-text2,
 .jhk-dialogInfo-main-text3, .jhk-dialogInfo-main-text4,
 .jhk-dialogInfo-main-text5,
 #jhk-dialogInfo-main-selectJikoku-KARA-JI, #jhk-dialogInfo-main-selectJikoku-KARA-FUN,
 #jhk-dialogInfo-main-selectJikoku-MASE-JI, #jhk-dialogInfo-main-selectJikoku-MASE-FUN
 {
   position: absolute;
 }

.jhk-dialogInfo {
  margin-top : -200px;
  margin-left : -200px;
  top : 50%;
  left : 50%;
  width : 490px;
  height : 340px;
  border-radius : 3px;
  z-index : 2;
  background : #85B0FF;
  position:fixed;
}

 .jhk-dialogInfo-main {
   top    : 0;
   left   : 0;
   right  : 0;
   bottom : 0;
 }

.jhk-dialogInfo-main-title {
  top    : 40px;
  left   : 20px;
  right  : 20px;
  font-size: 25px;
}

.jhk-dialogInfo-main-button-touroku{
  top    : 85px;
  left   : 355px;
  width  : 100px;
  line-height: 40px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #E6E6FA;
}
.jhk-dialogInfo-main-button-touroku:hover{
  background-color: red;
}

.jhk-dialogInfo-main-button-delete{
  top    : 170px;
  left   : 355px;
  width  : 100px;
  line-height: 40px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #E6E6FA;
}
.jhk-dialogInfo-main-button-delete:hover{
  background-color: red;
}

.jhk-dialogInfo-main-button-cancel{
  top    : 255px;
  left   : 355px;
  width  : 100px;
  line-height: 40px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #E6E6FA;
}
.jhk-dialogInfo-main-button-cancel:hover{
  background-color: red;
}

#jhk-dialogInfo-main-selectKyouka{
  top    : 132px;
  left   : 30px;
}

#jhk-dialogInfo-main-selectTeacher{
  top    : 100px;
  left   : 20px;
}

.jhk-dialogInfo-main-text1{
  top    : 100px;
  left   : 147px;
}

.jhk-dialogInfo-main-text2{
  top    : 100px;
  left   : 205px;
}

.jhk-dialogInfo-main-text3{
  top    : 100px;
  left   : 287px;
}

.jhk-dialogInfo-main-text4{
  top    : 132px;
  left   : 20px;
}

.jhk-dialogInfo-main-text5{
  top    : 132px;
  left   : 100px;
}

#jhk-dialogInfo-main-selectJikoku-KARA-JI{
  top    : 100px;
  left   : 100px;
}

#jhk-dialogInfo-main-selectJikoku-KARA-FUN{
  top    : 100px;
  left   : 160px;
}

#jhk-dialogInfo-main-selectJikoku-MASE-JI{
  top    : 100px;
  left   : 240px;
}

#jhk-dialogInfo-main-selectJikoku-MASE-FUN{
  top    : 100px;
  left   : 300px;
}

#jhk-dialogInfo-main-selectInai{
  top    : 180px;
  left   : 290px;
}
