/*
 * jhk.dialogMulti.css
 * ボタン複数 ダイアログ部モジュール
 */

 .jhk-dialogMulti, .jhk-dialogMulti-main, .jhk-dialogMulti-main-title,
 .jhk-dialogMulti-main-button-to, .jhk-dialogMulti-main-button-jyokin,
 .jhk-dialogMulti-main-button-tonarijyokin, .jhk-dialogMulti-main-button-cancel
 {
   position: absolute;
 }

.jhk-dialogMulti {
  margin-top : -200px;
  margin-left : -200px;
  top : 50%;
  left : 50%;
  width : 450px;
  height : 380px;
  border-radius : 3px;
  z-index : 2;
  background : #85B0FF;
  position:fixed;
}

 .jhk-dialogMulti-main {
   top    : 0;
   left   : 0;
   right  : 0;
   bottom : 0;
 }

.jhk-dialogMulti-main-title {
  top    : 40px;
  left   : 20px;
  right  : 20px;
  font-size: 25px;
}

.jhk-dialogMulti-main-button-to{
  top    : 280px;
  left   : 10px;
  width  : 100px;
  line-height: 40px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #E6E6FA;
}
.jhk-dialogMulti-main-button-to:hover{
  background-color: red;
}

.jhk-dialogMulti-main-button-jyokin{
  top    : 280px;
  left   : 120px;
  width  : 100px;
  line-height: 40px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #E6E6FA;
}
.jhk-dialogMulti-main-button-jyokin:hover{
  background-color: red;
}

.jhk-dialogMulti-main-button-tonarijyokin{
  top    : 280px;
  left   : 230px;
  width  : 100px;
  line-height: 40px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #E6E6FA;
}
.jhk-dialogMulti-main-button-tonarijyokin:hover{
  background-color: red;
}

.jhk-dialogMulti-main-button-cancel{
  top    : 280px;
  left   : 340px;
  width  : 100px;
  line-height: 40px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #E6E6FA;
}
.jhk-dialogMulti-main-button-cancel:hover{
  background-color: red;
}
