/*
 * jhk.shell.css
 * シェルスタイル
 */
.jhk-shell-head, .jhk-shell-head-title, .jhk-shell-head-acct,
.jhk-shell-main, .jhk-shell-main-menu, .jhk-shell-main-content, .jhk-shell-dialog,
.jhk-howtoUse
{
  position: absolute;
}

.jhk-toggle-base, .jhk-toggle-circle {
  position: relative;
}

.jhk-shell-head {
  top    : 0;
  left   : 0;
  right  : 0;
  height : 40px;
  background: #B5F5B3;

}

.jhk-shell-head-title {
  top    : 5px;
  left   : 20px;
  color  : #777777;
  font-size: 20px;
}

.jhk-shell-head-acct {
  top    : 4px;
  right  : 30px;
  width  : 120px;
  height : 32px;
  cursor: pointer;
  background : green;
  /*
  border-radius: 8px 8px 8px 8px;
  text-align: center;
  */
  }
.jhk-shell-head-acct:hover {
  background-color: #E63C41;
}

.jhk-shell-main {
  top    : 40px;
  left   : 0;
  bottom : 0;
  right  : 0;
}

.jhk-shell-main-menu {
  top    : 0;
  left   : 0;
  width  : 170px;
  bottom : 0;
  background : #f0f8ff;
}

.jhk-shell-main-content {
  top    : 0;
  left   : 170px;
  bottom : 0;
  right  : 0;
  background : #BEEBD9;
}

/* トグルスイッチの見ためと挙動 */
input[type='checkbox'] {
  position: absolute;
  width: 0;
  height: 0;
}

.jhk-input-mode-toggle, .jhk-input-mode-title, .jhk-toggle-circle, .jhk-toggle-base
 {
   position: absolute;
 }

.jhk-input-mode-toggle {
  top  : 6px;
  left : 300px;
}

.jhk-input-mode-title {
  top   :  2px;
  left  : 55px;
  width : 150px;
  height: 30px;
}

.jhk-toggle-base {
  width: 48px;
  border-radius: 14px;
  height: 28px;
  background-color: #ddd;
}

.jhk-toggle-circle {
  top: 4px;
  left: 4px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: gray;
}

.jhk-howtoUse {
  top: 8px;
  left: 500px;
}
